@using Environment = AspNetDeploy.Model.Environment
@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "publicationPage";

    Layout = "~/Views/Shared/_Layout.cshtml";
    Publication publication = this.ViewBag.Publication;
    Package package = publication.Package;
    Environment environment = publication.Environment;
    BundleVersion bundleVersion = publication.Package.BundleVersion;
    
}

<div class="container">
    
    <div class="">
        @Html.ActionLink("Back", "VersionPackages", "Bundles", new { id = bundleVersion.Id}, null)
    </div>

    <h1>
        <div class="row">
            <div class="col-md-10">
                Publication @publication.Id – Package @package.Id – @package.CreatedDate.ToLocalTime().ToString("d MMMM yyyy"), @package.CreatedDate.ToLocalTime().ToString("H:mm")
            </div>
            
        </div>
    </h1>
    
    <div>@bundleVersion.Bundle.Name @bundleVersion.Name <small>Bundle</small></div>

    <hr />
    
    @foreach (MachinePublication machinePublication in publication.MachinePublication)
    {
        IEnumerable<IGrouping<int?, MachinePublicationLog>> groups = machinePublication.Log.Where( log => log.DeploymentStepId.HasValue).GroupBy( log => log.DeploymentStepId);

        Dictionary<int, DeploymentStep> deploymentSteps = bundleVersion.DeploymentSteps.ToDictionary( ds => ds.Id);
        
        
        <h3>@machinePublication.Machine.Name</h3>   
     
        <table class="table">
            <thead>
                <tr>
                    <th>Step</th>
                    <th style="width: 150px;" class="text-center">Configuring</th>
                    <th style="width: 150px;" class="text-center">Executing</th>
                    @*<th style="width: 150px;" class="text-center">Rollback</th>*@
                </tr>
            </thead> 
            <tbody>
                @foreach (IGrouping<int?, MachinePublicationLog> group in groups)
                {
                    if (!deploymentSteps.ContainsKey(group.Key.Value))
                    {
                        continue;
                    }
                    
                    DeploymentStep deploymentStep = deploymentSteps[@group.Key.Value];
                    MachinePublicationLog errorPublicationLog = @group.FirstOrDefault( g => g.Event == MachinePublicationLogEvent.DeploymentStepExecutingError);

                    <tr>
                        <td>
                            @switch (deploymentStep.Type)
                            {
                                case DeploymentStepType.Configuration:
                                    <span>Configurate</span>
                                    break;
                                    
                                case DeploymentStepType.CopyFiles:
                                    <span>Extract files</span>
                                    break;
                                    
                                case DeploymentStepType.DeployDacpac:
                                    <span>Deploy DACPAC</span>
                                    break;
                                    
                                case DeploymentStepType.DeployWebSite:
                                    <span>Deploy Web site</span>
                                    break;

                                case DeploymentStepType.RunPowerShellScript:
                                    <span>Run script</span>
                                    break;

                                case DeploymentStepType.RunSQLScript:
                                    <span>Run SQL</span>
                                    break;

                                case DeploymentStepType.UpdateHostsFile:
                                    <span>Update hosts</span>
                                    break;

                                case DeploymentStepType.RunVsTests:
                                    <span>Run tests</span>
                                    break;

                                default:
                                    <span>Unknown step</span>
                                    break;
                            }
                      
                            @switch (deploymentStep.Type)
                            {
                                case DeploymentStepType.DeployWebSite:
                                    @deploymentStep.GetStringProperty("IIS.SiteName")
                                    break;
                                default:
                                    @deploymentStep.GetStringProperty("Step.Title")
                                    break;
                            }

                            
                            @if (errorPublicationLog != null)
                            {
                                <br/>
                                if (errorPublicationLog.Exception == null)
                                {
                                    <small class="text-muted">no exception data</small>
                                }
                                else
                                {
                                    ExceptionEntry innerExceptionEntry = errorPublicationLog.Exception.InnerExceptionEntry;
                                    <small>
                                        <b>@errorPublicationLog.Exception.TypeName</b>
                                        <pre>@errorPublicationLog.Exception.Message</pre>
                                        <pre>@errorPublicationLog.Exception.StackTrace</pre>
                                    </small>
                                    while (innerExceptionEntry != null)
                                    {
                                        <hr/>
                                        <small>
                                            <b>@innerExceptionEntry.TypeName</b>
                                            <pre>@innerExceptionEntry.Message</pre>
                                            <pre>@innerExceptionEntry.StackTrace</pre>
                                        </small>
                                
                                        innerExceptionEntry = innerExceptionEntry.InnerExceptionEntry;
                                    }
                                }
                            }
                        </td>  
                        <td class="text-center">
                            @if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepConfiguring))
                            {
                                if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepConfiguringComplete))
                                {
                                    <span class="text-success">OK</span>
                                }
                                else if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepConfiguringError))
                                {
                                    <span class="text-danger">Error</span>
                                }
                            }
                            else
                            {
                                <span>–</span>
                            }
                        </td>  
                        <td class="text-center">
                            @if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepExecuting))
                            {
                                if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepExecutingComplete))
                                {
                                    <span class="text-success">OK</span>
                                }
                                else if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepExecutingError))
                                {
                                    <span class="text-danger">Error</span>
                                }
                            }
                            else
                            {
                                <span>–</span>
                            }
                        </td>
                        @*<td class="text-center">
                            @if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepRollback))
                            {
                                if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepRollbackComplete))
                                {
                                    <span class="text-success">OK</span>
                                }
                                else if (group.Any(g => g.Event == MachinePublicationLogEvent.DeploymentStepRollbackError))
                                {
                                    <span class="text-danger">Error</span>
                                }
                            }
                            else
                            {
                                <span>–</span>
                            }
                        </td>*@

                    </tr>

                }
            </tbody>
            
        </table>
        
    }
    
</div>
