@using System.Globalization
@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "bundlesPage";

    Layout = "~/Views/Shared/_Layout.cshtml";
    BundleVersion bundleVersion = this.ViewBag.BundleVersion;

}

<div class="container">

    <h1>
        <div class="row">
            <div class="col-md-10">
                @if (this.ViewBag.IsHotfix)
                {
                    <span>New hotfix for @bundleVersion.Bundle.Name / @bundleVersion.Name</span>
                }
                else
                {
                    <span>New version from @bundleVersion.Bundle.Name / @bundleVersion.Name</span>
                }
                
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-default btn-lg">Configure</button>
            </div>
        </div>  
    </h1>

    @*<hr />
    <br />
    <h3>Source controls</h3>
  
    <table class="table">
        @foreach (SourceControlVersion sourceControlVersion in bundleVersion.ProjectVersions.Select(pv => pv.SourceControlVersion).Distinct())
        {
            <tr>
                <td>
                    @sourceControlVersion.SourceControl.Name / @sourceControlVersion.Name
                </td>
            </tr>
        }
    </table>  *@

    <br/>
    
    <table class="table">
        <thead>
            <tr>
                <th>Project</th>
                <th>Source control</th>
                <th>New source control</th>
            </tr>
        </thead>
        @foreach (ProjectVersion projectVersion in bundleVersion.ProjectVersions)
        {
            <tr>
                <td>@projectVersion.Name</td>
                <td>@projectVersion.SourceControlVersion.SourceControl.Name / @projectVersion.SourceControlVersion.Name</td>
                <td>@Html.DropDownList(
                        "projectVersion-" + projectVersion.Id,
                        projectVersion.SourceControlVersion.SourceControl.SourceControlVersions
                            .Where(scv => scv.GetStringProperty("Revision") != null)
                            .OrderByDescending(scv => scv.Id)
                            .Select( scv => new SelectListItem()
                            {
                                Text = projectVersion.SourceControlVersion.SourceControl.Name + " / " + scv.Name,
                                Value = scv.Id.ToString(CultureInfo.InvariantCulture)
                            })
                            .ToList(),
                        new { Class = "projectSelector", ProjectId = projectVersion.Id }
                        )</td>
            </tr>
        }
    </table>
    
    @if (bundleVersion.DataFields.Count > 0)
    {
        <br/>
        <table class="table">
            <thead>
            <tr>
                <th>Variable</th>
                <th>Value</th>
            </tr>
            </thead>
            @foreach (DataField dataField in bundleVersion.DataFields)
            {
                <tr>
                    <td>@dataField.Key</td>
                    <td style="width: 100%;"><input name="@dataField.Id" class="variableInput form-control" style="width: 100%;"/></td>
                </tr>
            }
        </table>
    }

    <br />
    <hr />
    @using (Html.BeginForm("CreateNewVersion", "Bundles", new { }, FormMethod.Post, new { id = "idForm", Class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("FromBundleVersionId", bundleVersion.Id)
        @Html.Hidden("IsHotfix", (bool)this.ViewBag.IsHotfix)
        @Html.Hidden("JsonData", "")
       
        <div class="row">
            <div class="col-md-6 ">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-5">
                        @Html.TextBox("NewVersionName", "", new { Class = "form-control", placeholder = "Name" })
                        @Html.ValidationMessage("NewVersionName")
                    </div>
                </div>
            </div>
        </div>
    <hr />
    }
    
    <button class="btn btn-lg btn-default" id="idCreate">Create</button>

</div>

@section Scripts
{
    <script>

        $(function()
        {
            $('#idCreate').click(function()
            {
                var projects = [];
                var variables = [];

                $('.projectSelector').each(function()
                {
                    projects.push({
                        projectVersionId: $(this).attr('ProjectId'),
                        sourceControlVersionId: $(this).val()
                    });
                });

                $('.variableInput').each(function()
                {
                    variables.push({
                        id: $(this).attr('name'),
                        value: $(this).val()
                    });
                });

                $('#JsonData').val(JSON.stringify({
                    "projects": projects,
                    "variables": variables
                }));

                $('#idForm').submit();
            });
        });

    </script>
}
