@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "bundlesPage";

    Layout = "~/Views/Shared/_Layout.cshtml";
    Bundle bundle = this.ViewBag.Bundle;

}

<div class="container">

    <h1>
        <div class="row">
            <div class="col-md-10">
                @bundle.Name
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-default btn-lg">Configure</button>
            </div>
        </div>  
    </h1>

    <hr />

    @foreach (BundleVersion bundleVersion in bundle.BundleVersions.Where( bv => !bv.IsDeleted))
    {
        <h3>
            @bundleVersion.Name

            @if (bundleVersion.IsHead)
            {
                <small>Head</small>
            }

            @if (bundleVersion.GetIntProperty("AutoDeployToEnvironment") > 0)
            {
                <small>/ Auto deploy</small>
            }

        </h3>
        
        <div class="row">
            <div class="col-sm-7">

                <h4>Source control dependencies</h4>
                <ul>
                    @foreach (SourceControlVersion sourceControlVersion in bundleVersion.ProjectVersions.Select(pv => pv.SourceControlVersion).Distinct())
                    {
                        <li>@sourceControlVersion.SourceControl.Name / @sourceControlVersion.Name</li>
                    }
                </ul>
            </div>
            <div class="col-sm-5 text-right">
                <a href="@Url.Action("CreateNewVersion", new {id = bundleVersion.Id})" class="btn btn-default btn-lg">Create new version</a>
            </div>
        </div>
        
        <hr />
    }
    
    <div>
        
    </div>

</div>
