@using AspNetDeploy.WebUI.Models
@using Environment = AspNetDeploy.Model.Environment
@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "bundlesPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @foreach (BundleInfo bundleInfo in this.ViewBag.Bundles)
    {
        <h1>
            @Html.ActionLink(bundleInfo.Bundle.Name, "Details", new { id = bundleInfo.Bundle.Id })
            
        </h1>
        <hr />
        
        foreach (BundleVersionInfo bundleVersionInfo in bundleInfo.BundleVersionsInfo)
        {
            <h3>@bundleVersionInfo.BundleVersion.Name</h3>
        
            foreach (Environment environment in this.ViewBag.Environments)
            {
                <div>@environment.Name –</div>     
            }
        }
        

       @* foreach (ProjectVersionInfo projectInfo in bundleInfo.ProjectsInfo)
        {
            <div class="row machine">
                <div class="col-sm-8 col-md-6">
                    <div class="name">
                        <div>
                            @projectInfo.Project.SourceControl.Name / @projectInfo.Project.Name
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        }
        *@
    <br />
    }

</div>



