@using MvcSiteMapProvider.Reflection
@using Newtonsoft.Json.Linq
@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "bundlesPage";

    Layout = "~/Views/Shared/_Layout.cshtml";
    BundleVersion bundleVersion = this.ViewBag.BundleVersion;

}

<div class="container">

    <h1>
        <div class="row">
            <div class="col-md-10">
                @bundleVersion.Bundle.Name @bundleVersion.Name <small>Bundle</small>
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-default btn-lg">Configure</button>
            </div>
        </div>
    </h1>

    <hr />

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation"><a href="@Url.Action("VersionProjects", new { id = bundleVersion.Id })">Projects</a></li>
        <li role="presentation" class="active"><a href="@Url.Action("VersionDeployment", new { id = bundleVersion.Id })">Deployment process</a></li>
        <li role="presentation"><a href="@Url.Action("VersionPackages", new { id = bundleVersion.Id })">Packages & Publications</a></li>
    </ul>
    
    <hr />

    @RenderSteps(bundleVersion, bundleVersion.DeploymentSteps)
    
    @if (bundleVersion.DeploymentSteps.Count > 0)
    {
        <hr />
    }
    
    <a class="btn btn-default" href="@Url.Action("AddStep", "BundleVersionDeployment", new { id = bundleVersion.Id})">Add step</a>

</div>

@helper RenderSteps(BundleVersion bundleVersion, IEnumerable<DeploymentStep> steps)
{
    int stepCounter = 0;
    
    foreach (DeploymentStep deploymentStep in steps.OrderBy(ds => ds.OrderIndex))
    {
        stepCounter++;
        
        switch (deploymentStep.Type)
        {
            case DeploymentStepType.DeployWebSite:
                @RednerDeployWebSiteStep(bundleVersion, deploymentStep, stepCounter)
                break;

            case DeploymentStepType.RunPowerShellScript:
            @RenderRunPowerShellScript(bundleVersion, deploymentStep, stepCounter)
                break;

            case DeploymentStepType.CopyFiles:
            @RenderCopyFilesStep(bundleVersion, deploymentStep, stepCounter)
                break;

            case DeploymentStepType.Configuration:
            @RenderConfigurationStep(bundleVersion, deploymentStep, stepCounter)
                break;
        }
        
        <br/>
    }
}

@helper RenderControlButtons(BundleVersion bundleVersion, DeploymentStep deploymentStep)
{
    <a class="btn btn-default" href="@Url.Action("MoveUp", "BundleVersionDeployment", new { bundleVersionId = bundleVersion.Id, deploymentStepId = deploymentStep.Id})">
        <img src="~/Resources/Layout/Images/Icons/up16.png" />
    </a>
    <a class="btn btn-default" href="@Url.Action("MoveDown", "BundleVersionDeployment", new { bundleVersionId = bundleVersion.Id, deploymentStepId = deploymentStep.Id})">
        <img src="~/Resources/Layout/Images/Icons/down16.png" />
    </a>
    <a class="btn btn-default" href="@Url.Action("EditStep", "BundleVersionDeployment", new { id = bundleVersion.Id, deploymentStepId = deploymentStep.Id})">
        <img src="~/Resources/Layout/Images/Icons/settings16.png" />
    </a>
}

@helper RednerDeployWebSiteStep(BundleVersion bundleVersion, DeploymentStep deploymentStep, int stepCounter)
{
    ProjectVersion projectVersion = bundleVersion.ProjectVersions.First(p => p.Id == deploymentStep.GetIntProperty("ProjectId", 0));

    <h3>
        <div class="row">
            <div class="col-sm-7">
                @(stepCounter). Deploy: @deploymentStep.GetStringProperty("IIS.SiteName") <small>IIS</small>
            </div>
            <div class="col-sm-5 text-right">@RenderControlButtons(bundleVersion, deploymentStep)</div>
        </div>
    </h3>
    <div class="row text-muted">
        <div class="col-md-6">
            <ul>
                <li>Roles:
                                
                    @foreach (MachineRole role in deploymentStep.MachineRoles)
                    {
                        <span class="label label-default">@role.Name</span>
                    }
                </li>
                <li>Project: @projectVersion.Name / @projectVersion.SourceControlVersion.Name / @projectVersion.Name</li>
                <li>Destination: @deploymentStep.GetStringProperty("IIS.DestinationPath")</li>
                <li>Enabled AppOffilne page: @deploymentStep.GetStringProperty("EnabledAppOffilnePage")</li>
                <li>Bindings:
                    <ul>
                                    
                        @foreach (dynamic binding in deploymentStep.GetDynamicProperties("IIS.Binding"))
                        {
                            <li>@binding.type, @binding.port, @binding.host</li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
}

@helper RenderRunPowerShellScript(BundleVersion bundleVersion, DeploymentStep deploymentStep, int stepCounter)
{
    <h3>
        <div class="row">
            <div class="col-sm-7">
                @(stepCounter). Script: @deploymentStep.GetStringProperty("Step.Title") <small>PowerShell</small>
            </div>
            <div class="col-sm-5 text-right">@RenderControlButtons(bundleVersion, deploymentStep)</div>
        </div>
    </h3>
}

@helper RenderCopyFilesStep(BundleVersion bundleVersion, DeploymentStep deploymentStep, int stepCounter)
{
    <h3>
        <div class="row">
            <div class="col-sm-7">
                @(stepCounter). Copy: @deploymentStep.GetStringProperty("Step.Title") <small>Copy</small>
            </div>
            <div class="col-sm-5 text-right">@RenderControlButtons(bundleVersion, deploymentStep)</div>
        </div>
    </h3>
}




@helper RenderConfigurationStep(BundleVersion bundleVersion, DeploymentStep deploymentStep, int stepCounter)
{
    <h3>
        <div class="row">
            <div class="col-sm-7">
                @(stepCounter). Config: @deploymentStep.GetStringProperty("Step.Title") <small>Configuration</small>
            </div>
            <div class="col-sm-5 text-right">@RenderControlButtons(bundleVersion, deploymentStep)</div>
        </div>
    </h3>
    <div class="row text-muted">
        <div class="col-md-12">
            <ul>
                @foreach (string file in deploymentStep.GetStringProperties("File"))
                {
                    <li>File: @file</li>
                }
                <li>
                    Roles:

                    @foreach (MachineRole role in deploymentStep.MachineRoles)
                    {
                        <span class="label label-default">@role.Name</span>
                    }
                </li>
                <li>
                    <div>settings</div>
                    
                    @if (deploymentStep.GetDynamicProperty("SetValues") != null)
                    {
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @foreach (dynamic node in deploymentStep.GetDynamicProperty("SetValues").Properties())
                                {
                                    @ConfigurationRecursiveWriter(node)
                                }
                            </div>
                        </div>
                    }
                </li>

            </ul>
        </div>
    </div>
}

@helper ConfigurationRecursiveWriter(dynamic node)
{
    if (node is JArray)
    {
        foreach (dynamic item in node.Children())
        {
            @ConfigurationRecursiveWriter(item)
        }

        return;
    }

    <div>
        
        @if (node is JProperty)
        {
            @node.Name
    
            if (node.Value is JValue)
            {
                @: : <pre>@node.Value</pre>
            }
        }

        @foreach (dynamic item in node.Children())
        {
            <div style="margin-left: 20px;">
                @ConfigurationRecursiveWriter(item)
            </div>
        }
    </div>

}



