@using Environment = AspNetDeploy.Model.Environment
@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "environmentPage";

    Layout = "~/Views/Shared/_Layout.cshtml";
    Environment environment = this.ViewBag.Environment;
    IList<DataField> dataFields = this.ViewBag.DataFields;
}

<div class="container">

    
    <h1>
        <div class="row">
            <div class="col-md-10">
                @environment.Name
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-default btn-lg">Configure</button>
            </div>
        </div>
    </h1>

    <hr />
    
    <h3>Variables</h3>
    
    <table class="table">
        <tbody>
            @foreach (DataField dataField in dataFields)
            {
                <tr>
                    <td>
                        <a class="text-muted" href="@Url.Action("Details", "Variables", new { id = dataField.Id })">@dataField.Key</a>
                    </td>
                    <td>
                        @{
                            var dataFieldValues = environment.DataFieldValues.Where(dfv => dfv.DataFieldId == dataField.Id).ToList();
                        }

                        @if (dataFieldValues.Count == 0)
                        {
                            <span>&mdash;</span>
                        }
                        else
                        {
                            foreach (DataFieldValue dataFieldValue in dataFieldValues)
                            {


                                <code>@dataFieldValue.Value</code>
                            }
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Variables", new { id = dataField.Id, environmentId = environment.Id })">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    
</div>
