@using Environment = AspNetDeploy.Model.Environment
@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "variablesPage";

    Layout = "~/Views/Shared/_Layout.cshtml";
    DataField dataField = this.ViewBag.DataField;
    IList<Environment> environments = this.ViewBag.Environments;
}

<div class="container">

    
    <h1>
        <div class="row">
            <div class="col-md-10">
                @dataField.Key 
                @if (dataField.IsSensitive)
                {
                    <small>Sensitive</small>
                }
                
            </div>
           
        </div>
    </h1>

    <hr />
    
    @foreach (Environment environment in environments)
    {
        bool hideSensitiveValues = environment.GetBoolProperty("HideSensitiveValues");
        
        <h3>@Html.ActionLink(environment.Name, "Details", "Environments",new { id = environment.Id}, null)</h3>
        <div class="row">
            <div class="col-sm-10">
                @{
                    var dataFieldValues = environment.DataFieldValues.Where(dfv => dfv.DataFieldId == dataField.Id).ToList();
                }
                
                @if (dataFieldValues.Count == 0)
                {
                    <span>&mdash;</span>
                }
                else
                {
                    foreach (DataFieldValue dataFieldValue in dataFieldValues.Where( dfv => dfv.MachineId == null))
                    {
                        if (string.IsNullOrWhiteSpace(dataFieldValue.Value))
                        {
                            continue;
                        }

                        if (dataField.IsSensitive && hideSensitiveValues)
                        {
                            <code>••••••••••••••••••••••••••••••</code>
                        }
                        else
                        {
                            <code>@dataFieldValue.Value</code>
                        }
                    }
                }
                <br />
                <br />
                <ul class="list-unstyled">
                    @foreach (Machine machine in environment.Machines)
                    {
                        <li>
                            <div>
                                @machine.Name – <a href="@Url.Action("Edit", "Variables", new { id = dataField.Id, environmentId = environment.Id, machineId = machine.Id })">Alter</a>
                            </div>

                            @foreach (DataFieldValue dataFieldValue in dataFieldValues.Where( dfv => dfv.MachineId == machine.Id))
                            {
                                if (string.IsNullOrWhiteSpace(dataFieldValue.Value))
                                {
                                    continue;
                                }

                                if (dataField.IsSensitive && hideSensitiveValues)
                                {
                                    <code>••••••••••••••••••••••••••••••</code>
                                }
                                else
                                {
                                    <code>@dataFieldValue.Value</code>
                                }
                            }
                        </li>
                    }
                </ul>

            </div>
            <div class="col-sm-2">
                <a href="@Url.Action("Edit", "Variables", new { id = dataField.Id, environmentId = environment.Id })">Edit</a>
            </div>
        </div>
    }
    
</div>
