@using System.Configuration
<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <link href="~/Resources/Layout/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Resources/Layout/Images/favicon.ico" rel="shortcut icon" />
        <link href="~/Resources/Layout/site.css" rel="stylesheet" />
        <script src="~/Resources/JavaScripts/jquery-1.9.0.min.js"></script>
        <script src="~/Resources/JavaScripts/bootstrap.min.js"></script>
        <script src="~/Resources/JavaScripts/Common.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @RenderSection("Scripts", false)
    </head>
    <body class="@this.ViewBag.PageClass">
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="@Url.Action("List", "Bundles")" class="navbar-brand">ASP.NET Deploy</a>
                </div>
                <div class="navbar-collapse collapse">

                    @Html.MvcSiteMap().Menu(false)
                    
                    

                    <ul class="nav navbar-nav navbar-right">

                        @if (this.Request.IsAuthenticated)
                        {
                            if (this.ViewBag.AllowedActions.Contains(UserRoleAction.ManageUsers))
                            {
                                <li>@Html.ActionLink("Users", "List", "Users")</li>
                            }

                            if (this.ViewBag.AllowedActions.Contains(UserRoleAction.ViewLogs))
                            {
                                <li>@Html.ActionLink("Logs", "List", "Logs")</li>
                            }

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@Url.Action("Avatar", "Account", new { id = this.ViewBag.ActiveUser.Id })" class="img-circle avatar" />
                                    @this.ViewBag.ActiveUser.Name <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Log out", "LogOut", "Account")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Log in", "Login", "Account")</li>
                        }
                    </ul>
                    @if (!bool.Parse(ConfigurationManager.AppSettings["Settings.EnableTaskRunner"] ?? "false"))
                    {
                        <p class="navbar-text navbar-right">Task runner: <b class="text-warning" title="To enable set AppSettings.Settings.EnableTaskRunner = true">offline</b></p>
                    }
                    

                </div>
            </div>
        </div>
        
        <div class="pageWrapper">
            @RenderBody()
        </div>
    </body>
</html>
