@{
    ViewBag.Title = "Index";
    ViewBag.PageClass = "sourcesPage";

    Layout = "~/Views/Shared/_Layout.cshtml";
    SourceControl sourceControl = this.ViewBag.SourceControl;
}

<div class="container">


    <h1>
        <div class="row">
            <div class="col-md-10">
                @sourceControl.Name
                @switch (sourceControl.Type)
                {
                    case SourceControlType.Svn:
                        <small>SVN</small>
                        break;

                    case SourceControlType.Git:
                    <small>Git</small>
                        break;

                    case SourceControlType.FileSystem:
                    <small>File system</small>
                        break;

                    default:
                    <small>Other</small>
                        break;
                }
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-default btn-lg">Configure</button>
            </div>
        </div>
    </h1>


    <hr />

    @switch (sourceControl.Type)
    {
        case SourceControlType.Svn:
            @RednerSvn(sourceControl)
            break;

        case SourceControlType.Git:
            break;

        case SourceControlType.FileSystem:
        @RenderFileSystem(sourceControl)
            break;

        default:
            break;
    }


</div>


@helper RednerSvn(SourceControl sourceControl)
{
    <dl class="dl-horizontal">
        <dt>URL</dt>
        <dd>@sourceControl.GetStringProperty("URL")</dd>
        <dt>Login</dt>
        <dd>@sourceControl.GetStringProperty("Login")</dd>
        @*<dt>Password</dt>
        <dd>@sourceControl.GetStringProperty("Password")</dd>*@
    </dl>

    <hr />

    foreach (SourceControlVersion sourceControlVersion in sourceControl.SourceControlVersions)
    {
        <h3>
            @sourceControlVersion.Name
            
            @if (sourceControlVersion.IsArchived)
            {
                <small>Archived</small>
            }

        </h3>

        <div class="row">
            <div class="col-sm-7">
                <dl class="dl-horizontal">
                    <dt>URL</dt>
                    <dd>@sourceControlVersion.GetStringProperty("URL")</dd>
                    <dt>Revision</dt>
                    <dd>@sourceControlVersion.GetStringProperty("Revision")</dd>
                </dl>
            </div>
            <div class="col-sm-5 text-right">
                <a href="@Url.Action("CreateNewVersion", new { id = sourceControlVersion.Id })" class="btn btn-default btn-lg">Create new version</a>
            </div>
        </div>
    
        <hr />
    }
}

@helper RenderFileSystem(SourceControl sourceControl)
{
    <dl class="dl-horizontal">
        <dt>Path</dt>
        <dd>@sourceControl.GetStringProperty("Path")</dd>
        <dt>Mode</dt>
        <dd>@(sourceControl.GetBoolProperty("IsRelativeMode") ? "Relative" : "Absolute")</dd>
    </dl>

    <hr />

    foreach (SourceControlVersion sourceControlVersion in sourceControl.SourceControlVersions)
    {
        <h3>@sourceControlVersion.Name</h3>
    <div class="row">
        <div class="col-sm-7">
            <dl class="dl-horizontal">
                <dt>URL</dt>
                <dd>@sourceControlVersion.GetStringProperty("Path")</dd>
            </dl>
        </div>
        <div class="col-sm-5 text-right">
            <a href="@Url.Action("CreateNewVersion", new { id = sourceControlVersion.Id })" class="btn btn-default btn-lg">Create new version</a>
        </div>
    </div>

        <hr />
    }
}
